/* *{
  
} */
.bg-color {
  background-color: #2a34c3 !important;
}
/* banner css start */
.banner {
  position: relative;
  background-image: url("../asset/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner h1 {
  font-size: 4rem;
  font-weight: bold;
}
.banner p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.search-box input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
}
.search-box button {
  width: 20%;
  background-color: #f44336;
  border: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
}
/* card css */
.card-img {
  object-fit: cover;
  height: 200px;
}
/* new section */

.scroll-bg {
  background-image: url("../asset/img/scroll.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-card {
  padding: 30px;

  align-items: center;
  text-align: center;
  border-radius: 10px;
  /* color: white; */
}
.stat-card h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f1f5fa;
}
.stat-card p {
  font-size: 1rem;
  color: white;
}

/* event card */
.event-img {
  height: 250px;

  object-fit: cover;
}

.event-footer {
  font-size: 0.9rem;
  color: #555;
  padding: 12px 15px;
  border-top: 1px solid white;
}

.price {
  font-weight: bold;
  color: #007bff;
}

.price.free {
  color: green;
}

.event-card .card {
  width: 100%;
  margin: auto;

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.event-card .card:hover {
  transform: translateY(-5px);
}
/* form */
.form-bg{
background-color:#f44336;
}
/* profile */
.profile-border{
  display: inline-block;        
  border-bottom: 5px solid #0d6efd; 
  padding-bottom: 5px;           
  margin-bottom: 15px;   
  font-size: 2rem;
}
.teacher-img {
  max-width: 100%;   
  height: auto;      
}

@media (max-width: 768px) {
  .teacher-img {
    width: 150px;   /* smaller size on tablets & phones */
  }
}

@media (max-width: 576px) {
  .teacher-img {
    width: 120px;   /* even smaller on mobile */
  }
}
